body {
  background-color: #f0f0f0;
}

header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #562b81;
}

.header > h1 {
  font-weight: 300;
}

header > .container > h1 {
  color: white;
}

.header > a {
  color: white;
  margin-right: auto;
  font-weight: 200;
  font-size: 25px;
  margin-top: 1.08em;
  margin-left: 30px;
  text-decoration: none;
}

img {
  margin-bottom: 30px;
}

label {
  margin-top: 15px;
  font-weight: 900;
  font-size: 1.5rem;
}

input {
  margin-top: 10px;
  border-style: solid;
  border-radius: 0.3em;
  border-color: #b6b6b6;
  size: 5rem;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 35px;
}

textarea {
  font-size: 1.5rem;
}

#submit {
  background-color: #562b81;
  color: white;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tab2 > .row > a {
  background: #562b81;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  border-radius: 0.3em;
  color: white;
  text-decoration: none;
}

#empty > p {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 25px;
}

.column-half > .row {
  justify-content: space-between;
}

i {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #592f83;
}

i:hover {
  cursor: pointer;
}
